/* Title */

h1.page-title {
    text-align: center;
}

/* Logo */

img.logo {
    display: block;
    max-width: 250px;
    min-width: 125px;
    width: calc(20vw);
    margin-left: auto;
    margin-right: auto;
}

/* About & Contact sections */

div.about {
    padding: 16px;
    display: block;
    overflow: hidden;
}

p.about {
    font-size: larger;
}

@media screen and (max-width: 1200px) {p.about {font-size: large;}}
@media screen and (max-width: 992px) {p.about {font-size: inherit;}}

img.profile-pic {
    float: right;
    margin-left: 15px;
    min-width: 150px;
    width: 28%;
}

@media screen and (max-width: 380px) {
    img.profile-pic {
        float: none;
        margin-left: 0%;
        width: 100%;
    }
}

section.viewport > div {
    margin-top: 50px;
    margin-bottom: 50px;
}

/* Social Media Card */

img.img-thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

div.card + div.card {
    margin-top: 20px;
}

/* Social Network Circle */

img.circle-sn {
    width: 35px;
    height: 35px;
}

img.circle-sn-m {
    width: 45px;
    height: 45px;
}

a.circle-link + a.circle-link {
    margin-left: 10px;
}

/* Viewport section */

section.viewport:first-child {
    height: 100vh;
}

section.viewport {
    width: calc(100vw - (100vw - 100%));
    height: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
    transform-style: preserve-3d;
}

@media screen and (min-width: 768px) {
    section.viewport {
        height: 100vh;
    }
}

section.vp-head::after {
    background: rgb(33,44,52);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 1) 100%),
        url('https://i.imgur.com/VOvptOF.png');
    background-size: cover;
    background-position: center;
}

section.vp-about {
    background: rgb(18, 25, 29);
    z-index: 1;
}

section.vp-contents::after {
    background: rgb(33,44,52);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 1) 100%),
        url('https://i.imgur.com/n8TJn9z.png');
    background-size: cover;
    background-position: center;
}

section.vp-contact {
    background: rgb(21, 24, 29);
    z-index: 1;
}

/* Extra */

main {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 3px;
}

.parallax::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateZ(-1px) scale(1.4);
    background-size: 100%;
    z-index: -1;
  }
